[submodule "INF553_Assignment_1"]
	path = INF553_Assignment_1
	url = git@github.com:vishalseshagiri/INF553_Assignment_1.git
[submodule "INF553_Assignment_2"]
	path = INF553_Assignment_2
	url = git@github.com:vishalseshagiri/INF553_Assignment_2.git
